.error_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    min-height: 770px;
    padding: 0 20px;
}

.error_page_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.error_page_inner h2,
.error_page_inner p {
    text-align: center;
    max-width: 500px;
}
