:root {
    --safe-zone: 20px;
    --accent: #00dc82;
    --bg: #090909;
    --h-color: #fff;
    --p-color: #d6d6d6;
    --hover: #ffffff2a;
    --header: 60px;
    --container: 1020px;
    --project-tile: #ffffff15;
    --project-tile-hover: #ffffff2b;
    --stack-item: brightness(0) invert(1);
    --divider: #ffffff2b;
    --greyed-out: #cccccc;
}

html {
    background-color: var(--bg);
    color: var(--p-color);
    scrollbar-gutter: stable;
    transition: all 0.2s ease-in-out;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--h-color);
}

a {
    text-decoration: none;
    color: inherit;
    transition: text-decoration 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

a:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px var(--accent);
}

section {
    padding: 40px var(--safe-zone) var(--safe-zone) var(--safe-zone);
    margin: 0 auto;
    max-width: var(--container);
}

footer {
    border-top: 1px solid var(--divider);
    max-width: var(--container);
    margin: 0 auto;
    padding: 5rem var(--safe-zone);
}

/* custom scrollbar  */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}

.btn {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #ffffff15;
    color: var(--p-color);
    height: 100%;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    font-family: var(--font-geologica);
}

.btn:hover {
    cursor: pointer;
    border: 1px solid #ffffff2b;

}

.btn:disabled {
    border: 1px solid transparent;
    cursor: not-allowed;
    background-color: #ffffff15;
    color: #ffffff2a;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px var(--accent);
}

.accent {
    color: var(--accent);
}

@media screen and (width < 540px) {

    :root {
        --safe-zone: 15px;
    }
}

.social_icon {
    filter: invert(1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.social_icon:hover {
    filter: invert(0.7);
}

[data-theme="light"] {
    --accent: #00c573;
    --bg: #e4e4e4;
    --h-color: #090909;
    --p-color: #151515;
    --project-tile: #fff;
    --project-tile-hover: #0000002b;
    --stack-item: brightness(0) invert(0);
    --divider: #1414142b;
    --greyed-out: #666666;

    .btn {
        background-color: #00000015;
    }

    .btn:hover {
        border: 1px solid #0000002b;
    }

    .social_icon {
        filter: invert(0);
    }

    .social_icon:hover {
        filter: invert(0);
        opacity: 0.7;
    }

}
