.header {
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    padding: var(--safe-zone);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header);
    z-index: 100;

}

.logo {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    transition: all 0.2s ease-in-out;
    color: var(--h-color);
}

.logo:hover {
    text-decoration: none;
    color: var(--p-color);
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
}
